<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boost biz</title>
    <link rel="stylesheet" href="/src/index.css" />
  </head>
  <body>
    <header>
      <section class="navigation">
        <div class="logo">
          
        </div>
        <div class="navbar">
          <nav>
            <ul>
              <li>About Us</li>
              <li>Contacts</li>
            </ul>
          </nav>
        </div>
        <div class="calltoaction">
          <button>Join Us</button>
        </div>
      </section>
      <section class="hero">
        <h1>BoostBiz: Fueling Growth, Empowering Success</h1>
        <p>
          Join Our Mission to Transform Businesses and Drive Economic Development with Innovative Financial Solutions
        </p>
        <button type="button">Get Involved Today</button>
      </section>
    </header>
    <main>
      <section>
        <h2>Why <span>join us</span> you might ask?</h2>
        <div class="pros-n-cons">
          <div class="cons">
            <h3>Challenges Without BoostBiz</h3>
            <p>Limited Access to Resources</p>
            <p>Lack of Financial Support</p>
            <p>Stunted Business Growth</p>
            <p>High Unemployment Rates</p>
            <p>Economic Instability</p>
          </div>
          <div class="pros">
            <h3>Benefits with BoostBiz</h3>
            <p>Enhanced Resource Accessibility</p>
            <p>Comprehensive Financial Support</p>
            <p>Accelerated Business Growth</p>
            <p>Job Creation</p>
            <p>Economic Stability</p>
          </div>
        </div>
      </section>
      <section class="get-started">
        <h3>
          Ready to Make a Difference? Start Your Journey with BoostBiz Today
        </h3>
        <button type="button">Get Started</button>
      </section>
    </main>
    <footer>&copy; 2024 BOOSTBIZ</footer>
  </body>
</html>
